.detailStyle{
    margin-top: 100px;
}
.price{
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailStyle button{
    margin-top: 10px;
    border: none;
    background-color: crimson;
    border-radius: 30px;
    padding: 5px 20px;
    color: white;
    margin-right: 10px;
}
.reviewStyle{
    margin-bottom: 100px;
}
.detailStyle h1{
    margin-bottom: 20px;
}
.plusMinus{
    display: flex;
    
}
.increment{
    font-size: 16px;
    font-weight: 600;
    margin-left: 22px;
    margin-right: 22px;
}
.plus{
    font-size: 16px;
    font-weight: 600;
}
.minus{
    font-size: 16px;
    font-weight: 600;
}
.incrementDecrement{
    margin-bottom: 8px;
    margin-left: 30px;
}